################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SzkolaSelector/.vs/config/applicationhost.config
