################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SzkolaSelector/.vs/config/applicationhost.config
/SzkolaSelector/SzkolaSelector.sln
/SzkolaSelector/.vs/SzkolaSelector/v14/.suo
/Karma/Karma.sln
/Karma/.vs/Karma/v14/.suo
/Karma/.vs/config/applicationhost.config
